{{define "usagelayout" }}
<!DOCTYPE html>
<html lang="de">
  {{template "header" .}}
  <body class="bg-gray-50">
    {{block "usagepage" .}}
    {{ end }}
  </body>
  {{ template "testform" . }}
  {{ template "usagefooter" .}}
</html>
{{ end }}
