{{ define "sidebar" }}
    <div class="flex flex-col justify-between h-full">
        <div class="flex-grow">
            <div class="px-4 py-6 text-center border-b">
                <h1 class="text-xl font-bold leading-none">
                    <span class="text-yellow-700">KubeStatus</span>
                </h1>
            </div>
            <div class="p-4">
                <ul class="space-y-1">
                    <li>
                        <a href="javascript:void(0)"
                            class="flex items-center bg-gray-200 rounded-xl font-bold text-sm text-yellow-900 py-3 px-4">Menüpunkt1
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            class="flex bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4">Menüpinkt2
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            class="flex bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4">Menüpunkt3
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            class="flex bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4">
                            Menüpunkt4
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-4">
            <span class="font-bold text-sm ml-2">Nochwas</span>
        </div>
    </div>
{{ end }}