{{ define "cpu_gauge" }}
{{$rj := index .Data "json"}}
<div class="p-4 bg-white border rounded-xl text-gray-800 drop-shadow-lg">
  <h4 class="font-bold text-xl m-2">CPU</h4>
  <div class="flex justify-center">
    <div id="cpuChart" class="h-48 w-48" x-data='{{ $rj }}' foo="bar"></div>
  </div>
</div>
{{ end }}
